.day
  $color: #555
  $hover-background-color: lighten($base-border-color, 5)
  $hover-color: #000
  $today-background-color: #c3f393
  $today-hover-background-color: darken($today-background-color, 10)
  $filler-color: $base-border-color

  color: $color
  &:hover
    background-color: $hover-background-color
    color: $hover-color
    cursor: pointer

  &.today
    background-color: $today-background-color
    &:hover
      background-color: $today-hover-background-color


.filler
  color: darken($base-border-color, 10)


.day,
.filler
  $icon-sun-color: orange
  $icon-circle-color: #aaa
  $icon-moon-color: blue

  position: relative
  overflow: hidden
  vertical-align: top
  height: 5em
  padding: 0

  .hijri
    position: absolute
    top: 0
    right: 0
    font-size: 2em
    line-height: 1.2em
    padding-right: 0.1em
    text-align: right

  .gregorian
    position: absolute
    bottom: 0
    left: 0
    padding: 0.2em
    font-size: 0.8em
    line-height: 1.2em
    text-align: left

  .day-icon
    text-align: center
    width: 100%
    height: 100%
    margin: 0
    padding: 0
    i
      font-size: 1.5rem
      line-height: 5rem
      &.icon-sun
        color: $icon-sun-color
      &.icon-circle
        color: $icon-circle-color
        font-size: 0.5rem
      &.icon-moon
        color: $icon-moon-color
