.day
  $color: #555
  $hover-background-color: $base-border-color
  $hover-color: #000
  $today-background-color: #c3f393
  $today-hover-background-color: darken($today-background-color, 10)
  $filler-color: $base-border-color

  color: $color
  &:hover
    background-color: $hover-background-color
    color: $hover-color
    cursor: pointer

  &.today
    background-color: $today-background-color
    &:hover
      background-color: $today-hover-background-color


.filler
  color: darken($base-border-color, 10)


.day,
.filler
  position: relative
  overflow: hidden
  vertical-align: top
  height: 5em
  padding: 0
  .hijri
    position: absolute
    top: 0
    right: 0
    font-size: 2em
    line-height: 1.2em
    padding-right: 0.1em
    text-align: right
  .gregorian
    position: absolute
    bottom: 0
    left: 0
    padding: 0.2em
    font-size: 0.8em
    line-height: 1.2em
    text-align: left
