.miqaat-list
  margin: 1em

  ul.miqaats
    list-style-type: square
    text-align: left

    li.none,
    li.error
      list-style-type: none
      text-align: center

    .description
      font:
        size: 0.9em
        style: italic
