.modal
  $modal-padding: 2em
  $modal-background: $base-background-color
  $modal-close-color: $light-gray

  input[type="checkbox"]
    display: none
    &:checked + .modal-window
      opacity: 1
      visibility: visible
    &:checked + .modal-window .modal-inner
      top: 0

  // overlay
  .modal-window
    @include transition(opacity .25s ease)
    @include position(fixed, 0px 0px 0px 0px)
    background: rgba(0, 0, 0, .85)
    opacity: 0
    text-align: left
    visibility: hidden
    z-index: 99999999999

  // close button
  .modal-close
    @include position(absolute, (0.5 * $modal-padding) (0.5 * $modal-padding) null null)
    @include size(1.5em)
    cursor: pointer
    background: $modal-background
    &:after,
    &:before
      @include position(absolute, 3px 3px null 50%)
      @include transform(rotate(45deg))
      @include size(.15em 1.5em)
      background: $modal-close-color
      content: ''
      display: block
      margin: -3px 0 0 -1px
    &:hover:after,
    &:hover:before
      background: darken($modal-close-color, 10)
    &:before
      @include transform(rotate(-45deg))

  // modal
  .modal-inner
    @include transition(opacity .25s ease)
    @include position(absolute, 50% null null 50%)
    @include transform(translate(-50%, 2.5%))
    border-radius: $base-border-radius
    width: 95%
    height: 95%
    padding: 0.5 * $modal-padding
    background: $modal-background
    text-align: center

    @include media($medium-screen)
      @include transform(translate(-50%, 10%))
      width: 80%
      height: 80%
      padding: $modal-padding

    @include media($large-screen)
      @include transform(translate(-50%, 50%))
      width: 80%
      height: 50%


    h3
      margin-top: 2em
      font-size: 1em

      @include media($medium-screen)
        margin-top: 0.5em
        font-size: 1.5em

      @include media($large-screen)
        font-size: 1.75em


    h4
      font:
        size: 1em
        weight: normal

      @include media($medium-screen)
        font-size: 1.5em

      @include media($large-screen)
        font-size: 1.75em
