.month-row
  @include span-columns(12)
  @include omega
  padding-top: 1em


  .month-controls
    @include span-columns(12)
    @include omega
    h3
      display: inline-block
      font-size: 1em
      line-height: 2.5em
      text-align: center

      @include media(min-width $medium-screen)
        font-size: 1.5em

      @include media(max-width $large-screen)
        @include span-columns(8)

      @include media(min-width $large-screen)
        @include span-columns(6)
        font-size: 1.75em

    a
      font-size: 2em
      line-height: 1.25em
      &.next
        @include omega
      &:hover
        color: $hover-button-color

      @include media(max-width $medium-screen)
        &.next
          text-align: right

      @include media(min-width $medium-screen)
        line-height: 2em
        &.prev
          text-align: right
        &.next
          text-align: left

      @include media(max-width $large-screen)
        @include span-columns(2)

      @include media(min-width $large-screen)
        @include span-columns(3)
        font-size: 2.5em
