.month-row
  @include span-columns(12)
  @include omega
  padding-top: 1em


  .month-controls
    h3
      @include span-columns(8)
      display: inline-block
      font-size: 1em
      line-height: 2.5em
      text-align: center

      @include media(min-width $medium-screen)
        font-size: 1.5em

    a
      @include span-columns(2)
      font-size: 2em
      line-height: 1.25em
      &.next
        @include omega
      &:hover
        color: $hover-button-color

      @include media(max-width $medium-screen)
        &.next
          text-align: right

      @include media(min-width $medium-screen)
        line-height: 2em
        &.prev
          text-align: right
        &.next
          text-align: left
