.year-row
  @include span-columns(12)
  @include omega
  text-align: center

  @include media(min-width $large-screen)
    font-size: 1.25em


  .year-controls
    display: inline-block
    vertical-align: middle
    h2
      display: inline-block
      padding: 0 0.2em
    a
      font-size: 2em
      line-height: 1.25em
      &:hover
        color: $hover-button-color

    @include media(max-width $medium-screen)
      @include span-columns(8)
      text-align: left


  .today-button
    display: inline-block
    vertical-align: middle

    @include media(max-width $medium-screen)
      @include span-columns(4)
      @include omega
      text-align: right

    @include media(min-width $medium-screen)
      padding-left: 1em

    @include media(min-width $large-screen)
      padding-left: 1.25em
