<footer>
  <p>&copy; <%= Date.today.year %>, <%= link_to "Murtaza Gulamali", "http://www.gulamali.net/", title: "gulamali.net" %>. I made this. Some rights reserved. <a href="https://github.com/mygulamali/mumineen_calendar_js">Fork me on GitHub</a>.</p>
</footer>
